<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/header', { brands: brands || [], types: types || [], categories: categories || []}) %>
        <%- include('partials/sub-header', { title: title }) %>
        <main>
            <%- body %>
        </main>

        <%- include('popup') %>

        <%- include('partials/footerwidget') %>
        <%- include('partials/footer') %>
    </body>
</html>