<div class="cart-container wrapper">

    <% if (isLoggedIn && items.length !== 0) { %>
     
        <table>
            <thead>
                <tr>
                <th></th>
                <th>PRODUCT</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>SUBTOTAL</th>
                </tr>
            </thead>

            <tbody>

                <% items.forEach(item => { %>
                    
                    <tr class="row">
                        <td><button class="cart remove-btn" data-product-id="<%= item.id %>">&times;</button></td>
                        <td>
                            <img class="product-image" src="<%= item.image %>" alt="Ustraa Ammunition Cologne" /> 
                            <a href="/shop/product/<%= item.id %>"><%= item.title %></a>
                        </td>
                        <td>$<%= item.currentPrice.toFixed(2) %></td>
                        <td>
                            <button class="subtract-quantity-btn" data-item-id="<%= item.itemId %>">-</button>
                            <input type="text" class="qty-input" value="<%= item.quantity %>"  />
                            <button class="add-quantity-btn" data-item-id="<%= item.itemId %>">+</button>
                        </td>
                        <td>$<span class="product-subtotal"><%= (item.currentPrice * item.quantity).toFixed(2) %></span></td>
                    </tr>

                <% }) %>

            </tbody>
        </table>

        <div class="coupon-section clearfix">
            <input type="text" placeholder="Coupon code" class="coupon-input" />
            <button class="coupon-btn">APPLY COUPON</button>
        </div>

        <div class="cart-totals-container">
            <div class="cart-totals">
                <table>
                    <tr>
                    <th>Subtotal</th>
                        <td id="cart-subtotal">$<span></span></td>
                    </tr>
                    <tr>
                    <th>Shipping</th>
                    <td>Free Shipping</td>
                    </tr>
                    <tr>
                    <th>Total</th>
                        <td id="cart-total">$<span></span></td>
                    </tr>
                </table>
                <button class="btn" style="width: 100%;">PROCEED TO CHECKOUT</button>
            </div>
        </div>

    <% } else { %>
		<h1 class="no-items">No Items Added </h1>
    <% } %>

</div>