<section class="orders wrapper">
    <% if (isLoggedIn && orders.length !== 0) { %>

        <div class="orders-list">
            <% orders.forEach(order => { %>
                <div class="order-card" data-order-id="<%= order.id %>">
                    <div class="heading">
                        <h3>Order #<%= order.id %></h3>
                        <button class="remove-btn" data-order-id="<%= order.id %>">&times;</button>
                    </div>
                    <p>Date: <%= order.created_at %></p>

                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% order.items.forEach(item => { %>
                                <tr class="row">
                                    <td><%= item.title %></td>
                                    <td><%= item.quantity %></td>
                                    <td>₱ <span><%= item.price.toFixed(2) %></span> </td>
                                    <td class="item-subtotal">₱ <span><%= (item.quantity * item.price.toFixed(2)) %></span></td>
                                </tr>
                            <% }) %>
                            
                        </tbody>
                    </table>

                    <div class="order-total">
                        <p>Total: ₱<span>0</span></p>
                    </div>
                </div>
            <% }) %>

    <% } else { %>
        <h1>No Orders</h1>
    <% } %>

</section>
