<div class="wishlist-table wrapper">
	<% if (isLoggedIn && products.length !== 0) { %>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Date Added</th>
          <th>Stock Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

			<% products.forEach(product => { %>
				<tr class="wishlist-item">
					<td><button class="remove-icon" data-product-id="<%= product.id %>">×</button></td>
					<td>
						<img src="<%= product.image %>" alt="Image" />
						<span><a href="/shop/product/<%= product.id %>"><%= product.title %></a></span>
					</td>
					<td>₱<%= product.currentPrice %></td>
					<td><%= product.date_added %></td>
					<td><%= (product.available !== 0) ? '✔ In stock' : '✘ Out of stock' %></td>
					<td>
						<button class="add-to-cart button">Add To Cart</button>
					</td>
				</tr>
			<% }) %>
		
      </tbody>
    </table>

	<div class="action-bar">
		<div class="action-bar-btns">
			<button class="remove-all button">REMOVE ALL</button>
			<button class="add button">ADD ALL TO <br> CART</button>
		</div>
	</div>

	<% } else { %>
		<h1>No Products Added</h1>
	<% } %>
</div>